@model IEnumerable<Final02.Models.Player>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h4 class="my-4">Player List</h4>

    <div class="mb-3">
        <a class="btn btn-primary" asp-action="Create">Add New Player</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Phone</th>
                <th>Marital Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Picture" width="80" /></td>
                    <td>@Html.DisplayFor(x => item.PlayerName)</td>
                    <td>@Html.DisplayFor(x => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(x => item.Phone)</td>
                    <td>@Html.DisplayFor(x => item.MaritalStatus)</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Format Id</th>
                                    <th>Format Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in item.SeriesEntries)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => data.Format.FormatId)</td>
                                        <td>@Html.DisplayFor(x => data.Format.FormatName)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
